/* Slug Idle Animations */
@keyframes jump {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px); /* Adjust for the height of the jump */
    }
  }
  
  .jump {
    animation: jump 0.5s ease;
  }

/* SlugWindow pullup animation */
@keyframes slideUp {
    from {
      transform: translateY(100%); /* Start below the screen */
    }
    to {
      transform: translateY(0%); /* End at its natural position */
    }
  }
  
.read-container {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /* z-index: 100; */
    animation: slideUp 1s ease forwards;
  }

  @keyframes slideDown {
    from {
      transform: translateY(0%);
    }
    to {
      transform: translateY(100%); /* Slide back down */
    }
  }
  
  /* New class for closing animation */
  .read-container-closing {
    animation: slideDown 1s ease forwards;
    /* z-index: 100; */
    /* may need to account for element just going donw, might scroll... */
  }



.text-front {
    z-index: 200;
}
  textarea {
    resize:none;
  }